html, body {
  margin: 0;
  padding: 0;
}

/* The main viewport */
.container {
  min-height: 100vh;
  overflow-x: hidden;
}

/* The first seciton so we can scroll the page */
.section {
  height: 200vh;
}

/* Here we create a fixed window so the image and grid stays in place when we scroll */
.wrapper {
  position: fixed;
  inset: 0;
}

/* Scale image to full screen and scale properly */
.image {
  position: absolute;
  inset: 0;
  object-fit: cover;
  object-position: center;
}

/* The grid which should hold the squares */
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

/* Grid should be relative so the pseudo-element is absolute to there grid item and ignore overlaying content */
.grid-item {
  position: relative;
  overflow: hidden;
}

/* Some basic grid item with a default value for --size */
.grid-item::before {
  --size: 1rem;
  content: "";
  position: absolute;
  inset: var(--size);
}