html, body {
  margin: 0;
  padding: 0;
}

/* The main viewport */
main {
  max-height: 100vh;
  overflow-x: hidden;
}

/* The first seciton so we can scroll the page */
.section {
  height: 200vh;
}

/* Here we create a fixed window so the image and grid stays in place when we scroll */
.fixed {
  position: sticky;
  height: 100vh;
  top: 0;
}

/* Scale image to full screen and scale properly */
.image {
  position: absolute;
  inset: 0;
  object-fit: cover;
  object-position: center;
}

/* The grid which should hold the squares */
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
}

/* Grid should be relative so the pseudo-element is absolute to there grid item and ignore overlaying content */
.grid-item {
  position: relative;
  overflow: hidden;
}

/* Some basic grid item with a default value for --size */
.grid-item::before {
  --size: calc(1rem * var(--scroll-top, 1));
  content: "";
  position: absolute;
  inset: var(--size);
  border-radius: var(--size);
  box-shadow: 
        calc(-1 * var(--size)) calc(-1 * var(--size)) 0 var(--size), /* top-left -1rem -1rem 0 1rem */
        var(--size) calc(-1 * var(--size)) 0 var(--size), /* top-right 1rem -1rem 0 1rem */
        var(--size) var(--size) 0 var(--size), /* bottom-right 1rem 1rem 0 1rem */
        calc(-1 * var(--size)) var(--size) 0 var(--size); /* bottom-left -1rem 1rem 0 1rem */
}